.lista-supensa label{
    display: block;
    color: #423f3d;
    margin-bottom: 8px;
    font-size: 24px;
}

.lista-supensa select{
    background-color:  #fff;
    color: #423f3d;
    width: 100%;
    padding: 24px;
    border: none;
    font-size: 24px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
}
